/*
**
Global Styling
**
*/

/*Color Styles*/
.green {color:#231f20;}
.red {color:#b40e1a;}
.gray {color:#eeeeee;}
.pmblue {color:#8fc3ea;}
.blue {color: #0000ff;}
p.green{color: #0eb455; font-weight: bold;}

/* Color Styles - Icons */
i.icon.ion-ios7-arrow-right {color:#8fc3ea;}

/* Menu Styling */
.item-divider {background-color:#eeeeee; }
/*li.menuStyle a.item {background-color: #8fc3ea; color:#2c2c2c;}*/

/* search page*/
/*label.searchInput {height:40px;}*/
/*input[type="text"] {height:20px;}*/
/*.searchInput {height:20px;}*/
#index_container {width:100%; background-color:#999999;}
.button-bar {background-color:inherit; width:100%; margin-bottom:0px;}
.sortBtn {margin:0px;}
.searchLabel {float:left; width:100%; height:40px;}
.searchBtn {float:left; margin-left:5px; border:none; height:40px;}
.searchBar {width:100%; background-color:#eeeeee; margin-top:0px; padding-top:7px; padding-bottom:7px;}
.list.list-inset {margin-top:0px;}
hr.resultsDivider {width:100%; border: 1px solid #eeeeee;}
  
p {margin-bottom:0px;}
h3.searchResults {color:#999999;}
h1.title {word-wrap: normal;}
img#bizImage {width:100%; margin:0px;}
.displayImage {padding:0px;}

.actionSwipe {padding-top:10px;}
.actionIcon {padding-top:10px;}

/* Biz Detail Page */
.bizDiscount {}
.item.biz {padding:0px;}

/*fixes*/
.spacer {margin-bottom:50px;}
.hspacer {margin:10px;}