<ion-view title="Discovery">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
  <ion-content>

  <!-- heading within padded container 
  <div class="padding">
   <h4>Profile</h4>
  </div>
   end of padded container -->

  <!-- Card List-->
  <div class="list card">

  <div class="item item-image">
    <img src="img/discovery/d0.jpg">
  </div>

  <div class="button-bar"><!-- Sorting Button Bar -->
  <button class="button button-calm" ng-click="yesVote()"><i class="icon ion-happy"></i></button>
  <button class="button button-assertive" ng-click="noVote()"><i class="icon ion-sad"></i></button>
</div><!--end of sorting button bar-->

</div>
<!-- end of Card List -->

<!-- Card List-->
<div class="list card">

<div class="item item-image">
<img src="img/discovery/d2.jpg">
</div>

  <div class="button-bar"><!-- Sorting Button Bar -->
  <button class="button button-calm" ng-click="yesVote()"><i class="icon ion-happy"></i></button>
  <button class="button button-assertive" ng-click="noVote()"><i class="icon ion-sad"></i></button>
</div><!--end of sorting button bar-->

</div>
<!-- end of Card List -->

<!-- Card List-->
  <div class="list card">

  <div class="item item-image">
    <img src="img/discovery/d3.jpg">
  </div>

  <div class="button-bar"><!-- Sorting Button Bar -->
  <button class="button button-calm" ng-click="yesVote()"><i class="icon ion-happy"></i></button>
  <button class="button button-assertive" ng-click="noVote()"><i class="icon ion-sad"></i></button>
</div><!--end of sorting button bar-->

</div>
<!-- end of Card List -->

<!-- Card List-->
  <div class="list card">

  <div class="item item-image">
    <img src="img/discovery/d4.jpg">
  </div>

  <div class="button-bar"><!-- Sorting Button Bar -->
  <button class="button button-calm" ng-click="yesVote()"><i class="icon ion-happy"></i></button>
  <button class="button button-assertive" ng-click="noVote()"><i class="icon ion-sad"></i></button>
</div><!--end of sorting button bar-->

</div>
<!-- end of Card List -->

<div class="padding">
<button class="button button-outline button-block button-calm" ng-click="homeView()">Next</button>
</div>


  </ion-content>
</ion-view>
