<ion-view title="User Preferences">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
  <ion-content>

  <!-- heading within padded container -->
  <div class="padding">
   <h4>Profile</h4>
  </div>
  <!-- end of padded container -->

  <!-- Preferences Toggle List-->
  <ul class="list">

  <li class="item item-toggle">
     Setting 1
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Interests
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <!-- heading within padded container -->
  <div class="padding">
   <h4>Interests</h4>
  </div>
  <!-- end of padded container -->

  <!-- Preferences Toggle List-->
  <ul class="list">

  <li class="item item-toggle">
     Travel & Transportation
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Sports & Recreation
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Food & Dining
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
      Clothing & Accessories
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>
<!-- end of Preference Toggle -->

</ul>
<!-- end of Preference Toggle -->

  </ion-content>
</ion-view>
