<ion-view title="Recommendations">
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
  <ion-content>

  <div class="list card">

  <div class="item">
    <h2>Travel</h2>
  </div>

  <div class="item biz">
   <img id="bizImage" src="../img/places/p2.jpg">
    <h2 class="title">{{resultRec.name}}</h2>
    <p clas="green">{{resultRec.category}}</p>
  </div>

  <a class="item item-icon-left assertive" ng-click="showDiscount()">
    <i class="icon ion-pricetag"></i>
    25% Off Next Purchase
  </a>

</div>

<div class="list card">

  <div class="item">
    <h2>Sports</h2>
  </div>

  <div class="item biz">
   <img id="bizImage" src="../img/places/p3.jpg">
    <h2 class="title">{{resultRec.name}}</h2>
    <p clas="green">{{resultRec.category}}</p>
  </div>

  <a class="item item-icon-left assertive" ng-click="showDiscount()">
    <i class="icon ion-pricetag"></i>
    Free Subscription
  </a>

</div>

<div class="list card">

  <div class="item">
    <h2>Food</h2>
  </div>

  <div class="item biz">
   <img id="bizImage" src="../img/places/p4.jpg">
    <h2 class="title">{{resultRec.name}}</h2>
    <p clas="green">{{resultRec.category}}</p>
  </div>

  <a class="item item-icon-left assertive" ng-click="showDiscount()">
    <i class="icon ion-pricetag"></i>
    50% off next meal
  </a>

</div>

<div class="padding">
<button class="button button-outline button-block button-calm" ng-click="savePerks()">Save Perks</button>
</div>

  </ion-content>
</ion-view>
