<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{result.name}}">
  <ion-content has-header="true" padding="true">

  <div class="list card">

  <div class="item">
   <img id="bizImage" src="../img/places/p2.jpg">
    <h2 class="title">{{result.name}}</h2>
    <p clas="green">{{result.category}}</p>
  </div>

  <a class="item item-icon-left assertive" ng-click="showDiscount()">
    <i class="icon ion-pricetag"></i>
    {{result.discount}}
  </a>

</div>

  <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-navigate"></i>
    {{result.location.address}}, {{result.location.zip}} 
  </a>

  <a href="tel:+1{{result.phone}}" class="item item-icon-left">
    <i class="icon ion-ios7-telephone"></i>
    {{result.phone}}
  </a>

  <a href="{{result.websiteurl}}" class="item item-icon-left">
    <i class="icon ion-link"></i>
    {{result.websiteurl}}
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-shuffle"></i>
    {{result.category}}
  </a>

  

</div>

  </ion-content>
  
</ion-view>
