<ion-view title="getAPI">
    <ion-content>
        <ion-list>
            <div ng-controller="getAPI">
                <ion-item ng-repeat="data in apiData" type="item-text-wrap" href="#/tab/getAPI/{{item.id}}">
                    <h1>{{data.name}}</h1>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>