<ion-view title="Search">
  <ion-content>

<div class="searchBar"><!--searchBar subheader-->

<!-- search input inset -->
<div class="list list-inset">
  <label class="item item-input searchLabel">
    <i class="icon ion-navigate placeholder-icon"></i>
    <input type="text" placeholder="Search by Zip, Name, or Category" ng-model="sQuery">
  </label>
 <!-- <button class="button button-positive icon ion-search searchBtn" ></button>-->
</div>

</div><!--end of searchBar subheader -->

  <div class="button-bar"><!-- Sorting Button Bar -->
  <button class="button button-positive sortBtn" ng-click="clickBiz()">List</button>
  <button class="button button-calm sortBtn" ng-click="clickPlaces()">Map</button>
</div><!--end of sorting button bar-->


<div class="hspacer">
    <h3 class="searchResults">Results</h3>
   <!-- <hr class="resultsDivider"> -->
</div>

 <ion-list ng-show="listView">
      <ion-item ng-repeat="data in viewList | filter:sQuery | limitTo: 20 "  href="#/tab/search/{{data.id}}" class="item item-thumbnail-left item-icon-right displayImage">
        <img class="" src="img/places/p1.jpg" width="80" height="80">
                	<h2 style="font-size:10pt;">{{data.name}}</h2>
                	<p class="green">{{data.discount}}<br></p>
                	<p>{{data.category}}</p>
                	<div style="display:none;" hidden>{{data.location_1.address}}</div>
                	<i class="icon ion-ios7-arrow-right"></i>
        <ion-option-button class="button-assertive actionSwipe" ng-click="callSlide()">Call <i class="icon ion-ios7-telephone actionIcon"></i></a></ion-option-button>
    	<ion-option-button class="button-assertive actionSwipe" ng-click="webSlide()">Web <i class="icon ion-earth actionIcon"></i></a></ion-option-button>
    	<ion-option-button class="button-assertive actionSwipe" ng-click="mapSlide()">Map <i class="icon ion-map actionIcon"></i></a></ion-option-button>
      </ion-item>
    </ion-list>



<!--
    <a class="item item-thumbnail-left item-icon-right" href="#">
      <img src="img/places/p1.jpg">
      <h2>Business Name</h2>
      <p class="green">Discount 45%<br>

      </p>
      <p>ZipCode: 48226</p>
      <i class="icon ion-ios7-arrow-right"></i>
    </a>
-->
   
    


<div class="mapView" ng-if="mapView" ng-controller="MapCtrl">
    <h1>MAP VIEW</h1>
    <google-map center="googleMap.center" zoom="googleMap.zoom">
        <markers models="googleMap.markers" coords="'self'" icon="'icon'" click="'onClicked'" options="'options'" islabel="true" events="googleMap.markersEvents">
            <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                <div>
                    I should not be attached to a {{bizResults.name}} marker.
                    <div ng-controller="InfoController">
                        <a class="btn" ng-click="clickedButtonInWindow()">CLICK ME</a>
                    </div>
                    <p ng-non-bindable >{{newData.name}} ph: {{bizResults.phone}} address: {{bizResults.address}}</p>
                    <p class="muted">My marker will stay open when the window is popped up!</p>
                </div>
            </windows>
        </markers>
    </google-map>
</div>

    <!--<ion-list>
            <ion-item ng-repeat="biz in bizResults" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
                {{biz.name}},
                {{biz.category}},
                {{biz.phone}},
                {{biz.webUrl}}
                {{biz.location}},
                {{biz.address}},
                {{biz.discount}}
            </ion-item>
        </ion-list>

    <ion-list>
            <ion-item ng-repeat="biz in placeResults" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
                {{biz.name}},
                {{biz.category}},
                {{biz.phone}},
                {{biz.webUrl}},
                {{biz.location}},
                {{biz.address}},
                {{biz.discount}}
            </ion-item>
        </ion-list>-->


  </ion-content>
</ion-view>
