<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Search" icon="icon ion-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
 <!-- <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>-->


  <!-- Account Tab -->
  <!--<ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->

  <!-- getAPI Tab -->
  <ion-tab title="Discovery" icon="icon ion-gear-b" href="#/tab/getAPI">
  <ion-nav-view name="tab-getAPI"></ion-nav-view>
  </ion-tab>

  <!-- getAPI Tab -->
  <ion-tab title="Passport Perks" icon="icon ion-happy" href="#/tab/getPassportPerksData">
    <ion-nav-view name="tab-getPassportPerksData"></ion-nav-view>
  </ion-tab>

  </ion-tabs>
